@model WebApplication1.Models.FrameworkInfoModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (@Html.BeginForm())
{
    @Html.TextBox("url")
    <input type="submit" />
}
<h1>Using frameworks</h1>
<div class="form-group">
    <table class="table">
        @foreach (var x in Model.Frameworks)
        {
            <tr>
                <td>
                    @x.Name
                </td>
                <td>
                    are using: @x.UsePersent.ToString("0.")
                </td>
            </tr>
        }
    </table>
</div>